

<div class=" d-flex flex-column align-items-start pb-4 ps-4" style="height: 100vh;" >
    <ul class=" adminLeft-list p-0 " style="flex-grow: 1;">

        <li class="adminLeftItem fs-3 text-light list-unstyled"><a href="/studentGroup" class=" sidebar-items text-decoration-none p-0 bg-transparent p-0 text-light border-0"><span class="fn-span"><i class="fa-solid fa-users"></i></span>Guruhlar</a></li>

    </ul>

    <form action="/deleteCookie" method="get" class=" d-inline-block bg-transparent ">
        <button  class=" btn bg-transparent border-0 text-light fs-4">Chiqish <i class="fa-solid fa-right-from-bracket"></i></button>
    </form>
</div>
